NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/atendimento_db

# Generate with: openssl rand -hex 64
JWT_SECRET=2f919c6304fc94cfb2377ae9dd8cbd344b2d3a2dc832a9abe52528db41793f53197a0125a05ed09e2935e85049ef5a9090d5cca19fa47305f0d56048238bb967
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

AUTH_SINGLE_SESSION=true

BCRYPT_SALT_ROUNDS=10

CORS_ORIGIN=http://localhost:3000

ADMIN_NAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123

POSTGRES_USER=atendimento_saude
POSTGRES_PASSWORD=N5QBwHYsXLDVVW6jxRGyew
POSTGRES_DB=atendimento_db
